<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/logged/">Home</a></li>
            <li><a href="/leader/">Leader Board</a></li>
            <li><a href="/developer/">Developer's Team</a></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
